<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <script>
        
        function cd(){
            let code = document.getElementById("code")
            code.style.visibility = 'visible'
            hash()
        }

        function hash(){
            let numtel = parseInt(document.getElementById("num").value)
            const data = JSON.stringify({
                telphon: numtel
            })

            fetch('/api/signup/tglogin/number',{
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: data
            })
        }
        async function sendcode(){
            let codeform = (document.getElementById("codelgn").value)
            let warn = document.getElementById("wrngcode")
            warn.style.visibility = 'hidden'
            const data = JSON.stringify({
                codef: codeform
            })
            const response = await fetch('/api/signup/tglogin/code',{
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: data
            })
            const check = await response.json()
            if (check.status === 'password_needed'){
                let psswd = document.getElementById("password")
                let code = document.getElementById("code")
                let init = document.getElementById('form2')
                let btnsend = document.getElementById('btn')
                code.style.visibility = 'hidden'
                init.style.visibility = 'hidden'
                psswd.style.visibility = 'visible'
                btnsend.value = 'Resend code'
            }
            if(check.status === 'wrong_code'){
                let warn = document.getElementById("wrngcode")
                warn.style.visibility = 'visible'
            }
        }
        async function loginpwd() {
            let pwdform = (document.getElementById("pwdf").value)
            let wrong = document.getElementById("wrngpwd")
            wrong.style.visibility = 'hidden'
            const data = JSON.stringify({
                password: pwdform
            })
            const response = await fetch("/api/signup/tglogin/pwd", {
                method: 'POST',
                headers: {'Content-Type':'application/json'},
                body: data
            })
            const check = await response.json()
            if(check.status === 'wrong_pwd'){
                let wrong = document.getElementById("wrngpwd")
                wrong.style.visibility = 'visible'
            }
        }
    </script>
    <form>
        <div id="form2" style="visibility: visible;">
            <label>You number:</label>
            <input type="number" id="num" required>
            <br>
            <input type="button" value="Send code" onclick="cd()" id="btn">
            <div id="code" style="visibility: hidden;">
                The code:
                <input type="number" id="codelgn">
                <br>
                <input type="button" value="Verify code" onclick="sendcode()" required>
                <br>
                <h3 id="wrngcode" style="visibility: hidden;">Wrong code! Try again.</h3>
            </div>
            <div id="password" style="visibility: hidden;">
                Your password:
                <input type="text" id="pwdf">
                <br>
                <input type="button" value="Sign In" onclick="loginpwd()">
                <br>
                <h3 id="wrngpwd" style="visibility: hidden;">Wrong Password</h3>
            </div>
        </div>
    </form>
</body>
</html>